@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html {
    position: relative;
    min-height: 100%;
    font-size: 62.5%;
}

body {
    font-family: Arial, sans-serif;
    font-size: 1.4rem;
    line-height: 1.2;
    letter-spacing: 0.03rem;
    color: #636363;
    overflow: hidden;
    position: absolute;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

ol, ul, dl {
    margin-top: 0;
    margin-bottom: 1.6rem;
}

input,
button,
select,
optgroup,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

::-webkit-input-placeholder {
    color: #bcbcbc;
}

::-moz-placeholder {
    color: #bcbcbc;
}

:-ms-input-placeholder {
    color: #bcbcbc;
}

::-moz-placeholder {
    opacity: 1;
}

/* Ensure Chrome doesn't add it's default focus indicator on input elements */
button:focus,
input:focus,
a:focus {
    outline: 0;
}

label {
    display: inline-block;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

button .mat-raised-button {
    font-size: 1.6rem;
    border-radius: 8px;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-block + .btn-block {
    margin-top: 0.5rem;
}

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
    width: 100%;
}

input[type='checkbox'] {
    height: 20px;
    width: 20px;
}

input[type='button'][disabled] {
    cursor: default;
}

a {
    color: blue;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:hover {
    text-decoration: underline;
}

a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}

a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
    color: inherit;
    text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
    outline: 0;
}

div {
    position: relative;
}

p {
    margin-top: 0;
    margin-bottom: 1.6rem;
}

small {
    font-size: 1.2rem;
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.text-lowercase {
    text-transform: lowercase !important;
}

.text-uppercase {
    text-transform: uppercase !important;
}

.text-capitalize {
    text-transform: capitalize !important;
}

.text-underline {
    text-decoration: underline;
}

.font-weight-light {
    font-weight: 300 !important;
}

.font-weight-normal {
    font-weight: 400 !important;
}

.font-weight-bold {
    font-weight: 700 !important;
}

.font-italic {
    font-style: italic !important;
}

.text-primary {
    color: blue;
}

.text-secondary {
    color: #636363;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 0.05rem;
    color: inherit;
}

h1.no-margin, h2.no-margin, h3.no-margin, h4.no-margin, h5.no-margin, h6.no-margin {
    margin-bottom: 0;
}

h1 {
    font-size: 2.7rem;
}

h2 {
    font-size: 2.3rem;
}

h3 {
    font-size: 2.1rem;
}

h4 {
    font-size: 1.8rem;
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1.2rem;
}

.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

.float-none {
    float: none !important;
}

.align-baseline {
    vertical-align: baseline !important;
}

.align-top {
    vertical-align: top !important;
}

.align-middle {
    vertical-align: middle !important;
}

.align-bottom {
    vertical-align: bottom !important;
}

.align-text-bottom {
    vertical-align: text-bottom !important;
}

.align-text-top {
    vertical-align: text-top !important;
}

venture-app-root {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

mat-toolbar > [flex] {
    flex: 1 1 auto;
}

venture-app-root > mat-sidenav-container {
    -webkit-box-flex: 1;
    flex: 1;
}

mat-sidenav {
    background-color: #fff;
    top: 0;
    left: 0;
    bottom: 0;
    min-width: 200px;
    padding: 20px;
}

mat-sidenav-content {
    background-color: #f9f9f9;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.venture-app-content {
    padding-bottom: 16px;
    max-width: 620px;
    margin: 0 auto;
}

.venture-rect {
    max-width: 620px;
    margin-top: 15px;
    margin: 15px auto;
}

.venture-rect-header {
    padding: 10px 16px 10px;
    margin-bottom: 0;
    background-color: #808080;
    color: #fff;
}

.venture-rect-header-text {
    display: inline-block;
    margin-left: 15px;
    margin-top: 9px;
    font-size: 18px;
    font-weight: bold;
    min-height: 22px;
    letter-spacing: 0.2px;
    text-align: left;
    color: #fff;
}

.venture-rect-body {
    background-color: #fff;
    border: solid 1px #d4d4d4;
    padding: 16px;
}

.no-pad {
    padding: 0;
}

.hidden {
    display: none;
}

.form-group {
    margin-bottom: 1.6rem;
}

.form-group input {
    color: inherit;
    font-size: 1.6rem;
    display: block;
    width: 100%;
    padding: 1.2rem .9rem;
    border-width: 1px;
    border-color: #a7a7a7;
    border-style: solid;
    border-radius: 0;
    transition: none;
}
